@import "../sass/sass-components/variables";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
  // background: rgb(213, 165, 78);
  // background: linear-gradient(
  //   135deg,
  //   rgba($gradient-light, 1) 34%,
  //   rgba($gradient-dark, 1) 100%
  // );
  background: rgba($bg-lighter, 1);
  transition-duration: 0.3s;
  padding: 1rem;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 1px 8px rgba($color-black, 0.6);
  color: $color-white;
}

.h3 {
  font-weight: 100;
}

p {
  margin: 0;
  padding: 0;
}

p a {
  margin: 0;
  padding: 0;
  font-weight: 400;
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  padding-bottom: 1px;
}

@media (max-width: 600px) {
  footer {
    font-size: 0.6725rem;
  }
}

@media (max-width: 400px) {
  footer {
    font-size: 0.425rem;
  }
}
