<div class="content-body">
  <div class="section-subtitle u-margin">
    <h4>Term of Use</h4>
  </div>
  <p>
    Boardroom Pty Limited (ABN 14 003 209 836) ("<strong>BoardRoom</strong>",
    "we" or "us") provides this site for use by persons ("<strong>you</strong>")
    who would like to apply for securities (including units in managed funds)
    issued by Realm Investment House (ABN 34 155 984 955 AFSL 421336) (these
    securities are referred to collectively as "<strong>holdings</strong>").
  </p>

  <p>
    By accessing this site, you agree to be bound by these terms of use
    ("Terms"). If you do not accept these Terms, you must cease using this site.
  </p>

  <p>
    Please see our Privacy Policy for details of how we may collect and maintain
    personal information obtained through this site.
  </p>

  <p>
    The headings in this document are provided for convenience and are not to be
    used in interpretation.
  </p>

  <div class="section-subtitle">
    <h4>Accuracy of Information</h4>
  </div>

  <p>
    While Boardroom takes reasonable care to ensure the information provided in
    this site is complete, current and correct, you may not hold BoardRoom
    liable or responsible for any errors or omissions. In particular, BoardRoom
    will not be responsible for:
  </p>

  <ul class="list-styled">
    <li>
      information on this site which has been provided to BoardRoom by third
      parties;
    </li>
    <li>verifying information provided by you or on your behalf.</li>
  </ul>
  <p>
    You are solely responsible for any use you choose to make of this site, and
    you accept liability for any and all losses, damages, costs or otherwise
    resulting directly or indirectly from the use of this site. BoardRoom
    specifically disclaims all liability for any losses, claims or damages that
    may be incurred as a consequence of the use of this site, or the use of
    information obtained through this site.
  </p>

  <div class="section-subtitle">
    <h4>Privacy</h4>
  </div>
  <p>
    Protecting your right to privacy and protecting the data we hold is
    important to BoardRoom. Any personal information collected through this site
    will be handled in accordance with our Privacy Policy.
  </p>
  <p>
    Personal information collected through this site by BoardRoom is stored in
    secure electronic databases The databases are located within Australia.
    Boardroom takes reasonable steps to ensure that the personal information
    that we hold is secured against such risks as loss or unauthorised access,
    destruction, use, modification or disclosure.
  </p>

  <div class="section-subtitle">
    <h4>General</h4>
  </div>
  <p>
    Information provided through this site does not constitute a recommendation
    by BoardRoom with respect to dealing in securities. The information is
    general in nature and does not take into account your personal
    circumstances, your financial needs or investment objectives. You should
    always obtain independent financial advice before buying or selling
    securities.
  </p>

  <div class="section-subtitle">
    <h4>Terms of Services</h4>
  </div>
  <p>
    This Application Form forms part of, and accompanies, the Product Disclosure
    Statements ("PDS") which offer units in the funds issued by Realm Investment
    House (ABN 34 155 984 955 AFSL 421336). The Offer of Units under Realm
    Investment House (ABN 34 155 984 955 AFSL 421336) as the responsible entity
    for the Funds. Terms defined in the PDSs and Additional Information booklet
    have the same meaning in this Application Form.
  </p>

  <p>
    <strong>Collection Notification and Privacy Statement:</strong> The personal
    information in this form is collected by Boardroom Pty Limited
    ("Boardroom"), as registrar for the issuer of the securities you hold.
    Boardroom Pty Limited's privacy policy can be viewed on our website (<a
      href="http://www.boardroomlimited.com.au"
      target="_blank"
      rel="noopener noreferrer"
      >www.boardroomlimited.com.au</a
    >). Your personal information is required for administration of the register
    of securityholdings. Should some or all of the requested information not be
    provided correct administration of your securityholding may not be possible.
    Your personal information may be disclosed to the issuer of the securities
    you hold, its or our related bodies corporate, external service companies
    such as print or mail service providers or otherwise as permitted by law.
    If, in accordance with the provisions of the Corporations Act the issuer of
    the securities you hold approves, you may be sent marketing material in
    addition to general corporate communications. You may elect not to receive
    marketing material by contacting BoardRoom. You can obtain access to your
    personal information and (if required) advise of any incorrect, inaccurate
    or out of date data information held, by contacting BoardRoom on 1300 737
    760.
  </p>

  <div class="section-subtitle">
    <h4>Changes to these terms</h4>
  </div>
  <p>
    BoardRoom reserves the right to modify these terms of use from time to time
    at our sole discretion.
  </p>
  <div class="section-subtitle">
    <hr />
  </div>
</div>

