@import "../../sass/sass-components/variables";

main {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-rows: 1fr;
  /*align-items: center;*/
  gap: 1rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 1rem auto;
  border-radius: 12px;
  max-height: 63vh;
  overflow: auto;
  background: rgb(213, 165, 78);
  background: linear-gradient(
    135deg,
    rgba($gradient-light, 1) 0,
    rgba($gradient-dark, 1) 100%
  );
  box-shadow: 0 1px 8px rgba($color-black, 0.6);
}

article {
  background-color: transparent;
  border-radius: 12px;
  color: $color-white;
}

p,
ul li {
  text-wrap: auto;
  font-size: 0.875rem;
}
