$bg-light: #191a1d;
$bg-lighter: #1a150d;
$bg-lightest: #18140c;
$color-white: #fff;
$color-black: #000;
$gradient-light: #d5a54e;
$gradient-dark: #545454;
$link-color: #ad7930;
$modal-subheading: #212529;
$home-btn-border: #c89d67;
$normal-bg: #d5a54e;
