@import "../../sass/sass-components/variables";
@import "../../sass/sass-components/button";
@import "../../sass/sass-components/mixins";
@import "../../sass/sass-components/utilities";
@import "../../sass/sass-components/animations";
@import "../../sass/sass-components/popup";

p {
  padding: 1rem;
  color: $color-white;
  line-height: 1.53;
  text-align: left;
}

.home {
  @include flex-display;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
}

ul#offers {
  list-style-type: none;
}

li a {
  margin: 1vh 0;
  display: grid;
}

menu {
  margin: 0.625rem 1.25rem 1.25rem;
  padding: 0;
  @include clearfix;
}

menu a {
  font: inherit;
  cursor: pointer;
  background-color: $bg-lighter;
  border-radius: 1rem;
  border: none;
  padding: 0.35rem 0.8rem;
  // font-size: 0.9rem;
  font-size: 0.5rem;
  color: $color-white;
  border: 1px solid $home-btn-border;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.btn:link,
.btn:visited {
  display: inline-flex;
  position: relative;
}

menu a:hover,
menu a:active {
  background-color: $gradient-dark;
}

menu a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

menu a:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.1rem;
  margin: 0.5rem;
  padding: 0;
  letter-spacing: 0.01275rem;
  font-weight: 400;
  @include headingMain;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

p {
  margin: 0;
  font-size: 0.75rem;
  // text-wrap: balance;
  text-wrap: auto;

  animation: moveInRight 2s ease-out;

  /*animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out; */
}

p a:link,
p a:hover,
p a:visited {
  color: $gradient-light;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid $gradient-light;
  padding-bottom: 1px;
}

a:link,
a:hover,
a:visited {
  font-weight: 100;
  text-decoration: none;
}

.btn-default {
  text-align: center;
  cursor: pointer;
  font-size: 0.6275rem;
  font-weight: 400 !important;
  white-space: normal;
  border-color: #d4d7d9;
  color: #61666b;
  padding: 1vh 2vh;
  border-radius: 12px;
  background: #ececec linear-gradient(180deg, #efefef, #ececec) repeat-x;
}

.end-sentence {
  display: none;
}

@media (min-width: 800px) {
  .btn-default {
    display: none;
  }

  .end-sentence {
    display: block;
  }

  .heading-primary {
    font-size: 2.25rem;
    letter-spacing: 0.1275rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
    margin: 0.75rem;
    padding: 0;
    letter-spacing: 0.1275rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  menu {
    width: auto;
  }

  menu a {
    padding: 0.75rem 1.275rem;
    font-size: 0.9rem;
  }

  p {
    font-size: 1.53rem;
    line-height: 1.53;
    padding: 1.875rem;
  }

  .btn-default {
    font-size: 0.9375rem;
  }
}
