@if (isContactPopup) {
<app-contact (cancel)="onCloseContactPopup()" />
}

<section class="home flex-display" id="#section-home">
  <p>
    Please click on the Fund that you would like to submit an online application
    for. If you require any assistance, please contact Realm's Investor Services
    Team on 1300 737 760 or email
    <a href="mailto:realm@boardroomlimited.com.au"
      >realm&#64;boardroomlimited.com.au</a
    >.
  </p>
  <button class="btn-default" (click)="onShowContactPopup()">Contact</button>
  <menu>
    <ul id="offers">
      @for(offer of offers; track offer.id) {
      <li>
        <a
          [href]="offer.offerNo"
          target="_blank"
          rel="noopener noreferrer"
          [title]="offer.offerName"
          class="button"
          (click)="onSelectOffer()"
          >{{ offer.offerName }}</a
        >
      </li>
      }
    </ul>
  </menu>

  <p class="end-sentence">
    If you would like anymore information about Realm’s Funds, visit their
    website
    <a
      href="https://www.realminvestments.com.au"
      target="_blank"
      rel="noopener noreferrer"
      title="Realm Investment"
      >www.realminvestments.com.au</a
    >.
  </p>
</section>
