@import "../../../sass/sass-components/variables";

.backdrop {
  background-color: rgba($color-black, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

dialog {
  width: 90%;
  max-width: 30rem;
  background: $normal-bg;
  background: linear-gradient(
    135deg,
    rgba($gradient-light, 1) 0,
    rgba($gradient-dark, 1) 100%
  );
  box-shadow: 0 1px 8px rgba($color-black, 0.6);
  border-radius: 12px;
  border: none;
  overflow: hidden;
  padding: 1rem;
  top: 5rem;
  margin: 0 auto;
}

h3 {
  margin: 0.25rem 0;
  color: $color-white;
}

.assistance-header {
  margin: 0.25rem;
  padding: 0.125rem;
  font-weight: 300;
  font-size: 1.527rem;
  // float: right;
  letter-spacing: 0.5rem;
}

.telephone-header {
  margin: 0.25rem auto;
  padding: 0.125rem;
  padding-bottom: 2.5271rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
}

p {
  padding: 1rem;
  color: $color-white;
  line-height: 1.53;
  text-align: left;
}

p a:link,
p a:hover,
p a:visited {
  color: $gradient-light;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px solid $gradient-light;
  padding-bottom: 1px;
}

.actions {
  margin: 1rem 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background: rgb(213, 165, 78);
  background: linear-gradient(
    135deg,
    rgba($gradient-light, 1) 0,
    rgba($gradient-dark, 1) 100%
  );
  // box-shadow: 0 1px 8px rgba($color-black, 0.6);
}

button[type="button"] {
  color: #bdadcf;
}

button[type="button"]:hover,
button[type="button"]:active {
  color: #d0c2e1;
}

@media (min-width: 768px) {
  dialog {
    padding: 2rem;
  }

  p {
    font-size: 1.53rem;
    line-height: 1.53;
    padding: 1.875rem;
  }
}
